In [31]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ARRAY, Date, Float, text, select
import pandas as pd



df = pd.read_csv("/Users/Vengeance/Documents/GitHub/earthquake-analysis-japan/JAPAN_DATASET.csv")

In [38]:
df.head()

,time,latitude,longitude,depth,mag,place,status,notes
0,2025-09-15T12:45:30.123Z,38.322,142.3690,35.0,5.1,"off east coast of Honshu, Japan",reviewed,NaN
1,2025-09-16T08:22:05.456Z,36.2048,138.2529,NaN,NaN,"near Nagano, Japan",automatic,Minor shock
2,"Sep 17, 2025, 14:10:05",43.0618,141.3545,10.2,4.8,"Hokkaido, Japan region",reviewed,NaN
3,2025-09-18T23:11:55.000Z,33.5904,130.4017,12.0,four.nine,"Fukuoka, Japan",reviewed,NaN
4,2025-09-19T05:00:00.000Z,35.6895,139.6917,-999,5.5,"Tokyo, Japan",reviewed,Data error?

In [44]:
engine = create_engine('sqlite:///mydb.db')
connection = engine.connect()
metadata = MetaData()

earthquakes = Table('Earthquakes',
                    metadata,
                    Column('id', Integer, primary_key=True),
                    Column('time', Date),#not sure yet
                    Column('coordination', String),#not sure yet
                    Column('depth', Float),
                    Column('magnitude', Float),
                    Column('region',String),
                    Column('source', String),
                    )
df.to_sql(
    name="Earthquakes",
    con=engine,
    if_exists="append",
    index=False,
    chunksize=1000
)   

# def insert_data(time, coordination, depth, magnitude, region, source):
#     earthquakes.insert().values(time= time, coordination= coordination, depth= depth, magnitude= magnitude, region= region, source= source)

OperationalError: (sqlite3.OperationalError) table Earthquakes has no column named coordination
[SQL: INSERT INTO "Earthquakes" (time, latitude, longitude, depth, mag, place, status, notes, coordination) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: [('2025-09-15T12:45:30.123Z', '38.322', 142.369, '35.0', '5.1', 'off east coast of Honshu, Japan', 'reviewed', None, '[38.322, 142.369]'), ('2025-09-16T08:22:05.456Z', '36.2048', 138.2529, None, None, 'near Nagano, Japan', 'automatic', 'Minor shock', '[36.2048, 138.2529]'), ('Sep 17, 2025, 14:10:05', '43.0618', 141.3545, '10.2', '4.8', 'Hokkaido, Japan region', 'reviewed', None, '[43.0618, 141.3545]'), ('2025-09-18T23:11:55.000Z', '33.5904', 130.4017, '12.0', 'four.nine', 'Fukuoka, Japan', 'reviewed', None, '[33.5904, 130.4017]'), ('2025-09-19T05:00:00.000Z', '35.6895', 139.6917, '-999', '5.5', ' Tokyo, Japan ', 'reviewed', 'Data error?', '[35.6895, 139.6917]'), ('2025-09-20T14:30:10.789Z', '37.765', 140.467, '25 miles', '4.6', 'Fukushima Prefecture', 'automatic', None, '[37.765, 140.467]'), ('2025-09-21T02:15:45.987Z', '34.6937', 135.5023, '45.1', '5.2', 'osaka', 'reviewed', None, '[34.6937, 135.5023]'), ('22/09/2025 11:05:21', '33.8562', 132.7653, '22.0', '4.9', 'Shikoku, Japan', 'reviewed', None, '[33.8562, 132.7653]')  ... displaying 10 of 36 total bound parameter sets ...  ('2025-10-18T23:59:59.999Z', '26.2124', 127.6809, '15.0', '4.7', 'Okinawa, Ryukyu Islands', 'reviewed', 'Possible Duplicate', '[26.2124, 127.6809]'), ('2025-10-19T04:40:04.400Z', '35.1815', 136.9066, '35.2', '4.8', '  Nagoya, Japan  ', 'automatic', 'Check quotes', '[35.1815, 136.9066]')]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [34]:
count = connection.execute(text("SELECT COUNT(*) FROM Earthquakes;")).scalar()
print(f"Number of rows: {count}")

Number of rows: 180

In [40]:
df.head()

,time,latitude,longitude,depth,mag,place,status,notes
0,2025-09-15T12:45:30.123Z,38.322,142.3690,35.0,5.1,"off east coast of Honshu, Japan",reviewed,NaN
1,2025-09-16T08:22:05.456Z,36.2048,138.2529,NaN,NaN,"near Nagano, Japan",automatic,Minor shock
2,"Sep 17, 2025, 14:10:05",43.0618,141.3545,10.2,4.8,"Hokkaido, Japan region",reviewed,NaN
3,2025-09-18T23:11:55.000Z,33.5904,130.4017,12.0,four.nine,"Fukuoka, Japan",reviewed,NaN
4,2025-09-19T05:00:00.000Z,35.6895,139.6917,-999,5.5,"Tokyo, Japan",reviewed,Data error?

In [43]:
df['coordination'] = df.apply(lambda x: f"[{x.latitude}, {x.longitude}]", axis=1)
df.head()

,time,latitude,longitude,depth,mag,place,status,notes,coordination
0,2025-09-15T12:45:30.123Z,38.322,142.3690,35.0,5.1,"off east coast of Honshu, Japan",reviewed,NaN,"[38.322, 142.369]"
1,2025-09-16T08:22:05.456Z,36.2048,138.2529,NaN,NaN,"near Nagano, Japan",automatic,Minor shock,"[36.2048, 138.2529]"
2,"Sep 17, 2025, 14:10:05",43.0618,141.3545,10.2,4.8,"Hokkaido, Japan region",reviewed,NaN,"[43.0618, 141.3545]"
3,2025-09-18T23:11:55.000Z,33.5904,130.4017,12.0,four.nine,"Fukuoka, Japan",reviewed,NaN,"[33.5904, 130.4017]"
4,2025-09-19T05:00:00.000Z,35.6895,139.6917,-999,5.5,"Tokyo, Japan",reviewed,Data error?,"[35.6895, 139.6917]"

In [39]:

result = connection.execute(text("SELECT * FROM Earthquakes LIMIT 5;")).fetchall()
for row in result:
    print(row)

('2025-09-15T12:45:30.123Z', '38.322', 142.369, '35.0', '5.1', 'off east coast of Honshu, Japan', 'reviewed', None)
('2025-09-16T08:22:05.456Z', '36.2048', 138.2529, None, None, 'near Nagano, Japan', 'automatic', 'Minor shock')
('Sep 17, 2025, 14:10:05', '43.0618', 141.3545, '10.2', '4.8', 'Hokkaido, Japan region', 'reviewed', None)
('2025-09-18T23:11:55.000Z', '33.5904', 130.4017, '12.0', 'four.nine', 'Fukuoka, Japan', 'reviewed', None)
('2025-09-19T05:00:00.000Z', '35.6895', 139.6917, '-999', '5.5', ' Tokyo, Japan ', 'reviewed', 'Data error?')